* {
    box-sizing: border-box;
  }

  .container_12 {
    float: left;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
       }

h1 {
    font-size: 16px;
    color: bold black;
    float: left;
}

h2 {
    font-size: 12px;
    color: bold black;
    float: left;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
  
  }

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}


  /* Non-mobile, grid */
@media screen and (min-width: 640px) { 
  
    /* 12 columns wide */
    .col-12 {
        width: 100%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    img {
        vertical-align: middle;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }

    .box {
        border: 1px light grey;
        font-size: 14px;
        padding-bottom: 20px;
    }
    .responsive{
        width: 100%;
        height: auto;
    }
    
    @media screen and (max-width: 640px) 
    .col-4 {
        max-width: 33.33%;
        }
    }