header {
    padding-bottom: 20px;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    background-color: gold;
}


.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}


h1 {
    /*striking this CSS to simplify the H1 and H2 presentation
    font-size: 16px;
    color: black;
    font-weight: bold; */
    line-height: 1;
    margin-bottom: 0;
}


h2 {
    line-height: 0;
    margin-top: 0.5em;
}


.card {
    border: 1px solid grey;
       margin-top: 80px;
       margin-bottom: -60px;
       /*Using margin-top here (with a positive measurement) and 
       margin-bottom here (with a negative measurement) I was able to 
       create necessary space between the header and the cards. I tried 
       to creat this space in the header's CSS with no effect, for reasons
       that are not clear to me.*/
}


.card-image {
    width: 100%;
}


.card-content {
    padding: 20px;
} 

    
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0.5em 0;
    font-size: 14px;
}



